<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Third Page</title>
    <link rel="Stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="welcome">Name: {{name}}</div>
      <div class="list"><a href="/pagelist">View Page List</a></div>
    </header>

    <h1>Third Page</h1>

    <p>You have a decision to make.</p>

    <ul>
      <li><a href="/first">Find true love</a></li>
      <li><a href="/second">Find false love</a></li>
    </ul>

  </body>
</html>
